 



.container-1{
    
    display:flex;
    margin: 50px;
    padding: 50px;
    
   
}
.first-img{
    
    
   width: 20%;
   
}
.red{
    color: #FFAD5A;
}
.h1{
    font-size: 50px;
}
.pragraph{
    font-size: 20px;
}
          
.btn-1{
    width: 120px;
    height:50px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #FF5959;
}
.flex{
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width:576px) {
    .container-1{
        display:flex;
        margin: 10px;
        padding: 0px;
    
    }
    .h1{
    font-size: 25px;
}
    .pragraph{
    font-size: 10px;
}  .btn-1{
   font-size: 10px;
    height: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    color: white;
    background-color: #FF5959;
}
.first-img{
    padding-top: 50px;
    height: 80px;
   width: 80px;
   
}
}